html{
    background: url(../image/marble-natural.jpg);
    background-attachment: fixed;
    /* background-position: 0px 94.3cm; */
    background-size: 100%;
}

body{
    width: 1430px;
    margin: auto;
    background-color: white;
}

header{
    height: 200px;
    display: flex;
    flex-direction: row;
    background-color: none;
}

.logo{
    width: 200px;
    padding: 20px 50px 20px 50px;
    
}

.logo img{
    height: 168px;
    width: auto;
}

.header-text{
   
    width: 100%;
    
}

h1{
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 27px;
    margin-top: 50px;
    padding-left: 10px;
}

h2{
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: 400;
    font-size: 37px;
    padding-left: 50px;
}

.history{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.block-2{
    width: auto;
    height: 100%;
}

.block-2 p{
    width: auto;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 18px;
}

.center{
    display: flex;
    flex-direction: row;
    margin: auto;
}

@import url("https://fonts.googleapis.com/css?family=Roboto+Slab|PT+Sans+Caption&subset=latin,cyrillic");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");


.navMenu {
    margin-top: 20px;
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navMenu a {
    color:black;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
    width: 20%;
    height: 100%;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-family: "Montserrat", sans-serif;
    padding: 12px 15px 12px 15px;
    margin: 0;
    text-align: center;
}

.navMenu a:hover {
    background-color:rgb(44, 30, 0);
    color: white;
}













@font-face {
	font-family: 'SuisseIntl-Regular'; 
	src: url('./fonts/SuisseIntl-Regular.otf') format('opentype'); 
}

@font-face {
	font-family: 'SuisseIntl-Bold'; 
	src: url('./fonts/SuisseIntl-Bold.otf') format('opentype'); 
}

@font-face {
	font-family: 'SuisseIntl-Medium'; 
	src: url('./fonts/SuisseIntl-Medium.otf') format('opentype'); 
}

@font-face {
	font-family: 'SuisseIntl-Light'; 
	src: url('./fonts/SuisseIntl-Light.otf') format('opentype'); 
}

main{
    display: flex;
    flex-direction: column;
}

.catalog{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    font-family: 'SuisseIntl-Light';
    
    margin: auto;
}

.content-block{
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 20px;
    height: 515px;
    width: 30.4%;
    margin-top: 30px;
    
}

.content-block:nth-child(n+4){
    margin-top: 60px;
}

.content-block:nth-child(3n+1){
    border-right: 1px solid black;
}

.content-block:nth-child(3n){
    border-left: 1px solid black;
}

.content-block img{
    width: 100%;
    height: 80%;
}

.content-block p{
    margin: 5px 0 0 0;
    
}

.content-text{
    margin-top: 12px;
    margin-left: 20px;
   
}

.pages{
    margin: auto;
}

.pagination{
    list-style-type: none;
    display: flex;
    text-decoration: none;
}

.page-link{
    text-decoration: none;
    color: black;
    font-family: 'SuisseIntl-Light';
    font-size: 1.5em;
    width: 45px;
    height: 45px;
    display:table-cell; 
    vertical-align:middle;
    text-align:center;
    font-weight: 600;
}

.pagination li a:hover{
    border-radius: 50%;
    background-color: bisque;
}

.pagination li{
    display:table-cell; 
    vertical-align:middle;
    text-align:center;
   
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin: 0 5px 0 5px;
}

.active{
    pointer-events: none; 
    cursor: default; 
    color: #888; 
    border: 2px solid black;
    border-radius: 50%;
}